@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables.scss";

html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  color: #fff;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  color: var(--white);
}
#root {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 135px;
  padding-right: 135px;

  @media (max-width: 480px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 1024px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.wrapper {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;

  section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    section {
      // min-height: auto;
      padding: 0px;
    }
  }
}

footer {
  scroll-snap-align: end;
  // scroll-snap-align: none;

  // position: fixed;
  width: 100%;
  z-index: 10;
  height: auto;
  display: block;
}
