.nav {
  display: flex;

  &__link {
    font-weight: 700;
    padding: 0.75rem 1.625rem;
    font-size: 1.25rem;
    position: relative; 
  }
}

.nav a {
  position: relative;
}

.nav a:after {
  position: absolute;
  bottom: 11px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  content: "";
  color: transparent;
  background: #fff;
  height: 1px;
  transition: width 0.3s ease-in-out;
}

.nav a:hover:after {
  width: 60%;
}

.nav__link a {
  transition: color 0.3s ease-in-out; 
}

.nav__link a:after {
  position: absolute; 
  bottom: 11px;
  left: 0;
  right: 0;
  width: 0;
  height: 1px;
  content: "";
  background: #fff;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.nav__link a:hover {
  color: #fff;
}

.nav__link a:hover:after {
  width: 100%;
  opacity: 1;
}

@media (max-width: 1024px) {
  .nav {
    &__link {
      padding: 0.75rem;
    }
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
