.pension {
  padding-top: 120px;
  border-bottom: 1px solid #fff;
  background-image: url("/bg1.png");
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #00846e;
}

.img {
  max-width: 724px;
  position: relative;
}
